.btn {
  border: 1.5px #0088ff solid;
  outline: none;
  //   width: 100%;
  display: block;
  margin-left: auto;
  background-color: #0088ff;
  color: white;
  font-size: 14px;
  padding: 5px 12px;
  border-radius: 5px;
  transition: 0.2s;
  &:hover {
    background-color: white;
    color: #0088ff;
  }
}

.w-full {
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}
