.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-top: -20px;
    font-size: 12px;
    color: red;
  }
  canvas {
    background-color: whitesmoke;
    padding: 10px 20px; 
  }
  input {
    z-index: 100;
  }
}
.btn {
  border: none;
  outline: none;
  background-color: #0088ff;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  border: 1px #0088ff solid;
  transition: 0.2s;
  &:hover {
    background-color:white;
        color:#0088ff;
  }
}
